<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">
       
       
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a (click)="toHome()"     class="nav-link " ><mat-icon>home</mat-icon></a>
          <a (click)="toService()" class="nav-link">Services</a>
          <a (click)="toWorks()" class="nav-link" >Our Works</a>
          <a (click)="toPrice()" class="nav-link" >Pricing</a>
          <a (click)="toFaq()" class="nav-link"  >FAQ's</a>
          <a (click)="toContact()" class="nav-link"  >Contact Us</a>
           
           </div>
      </div>
    </div>
  </nav>