<footer>
   <div class="ft"> 
    <div class="footer">
        <div class="ft1">
           <h2>Design<span>flex</span></h2>
           <a>Get Started </a>
        </div>
        <div class="ft2">
            <div class="foot1">
                 <ul>
                    <li><a (click)="toHome()">Home</a></li>
                    <li><a (click)="toService()">Service</a></li>
                    <li><a (click)="toWork()">Our Works</a></li>
                 </ul>
            </div>
            <div class="foot2">
                <ul>
                   <li><a (click)="toPlan( )">Pricing</a></li>
                   <li><a (click)="toFaq()">FAQ's</a></li>
                   <li><a (click)="toContact()">Contact Us</a></li>
                    
                </ul>
           </div>
           <div class="foot3">
            <ul>
               <li><a>Terms and Conditions</a></li>
               <li><a>Privacy Policy</a></li>
               <li><a>Help Center</a></li>
               <li><a>Careers</a></li>
            </ul>
       </div>
        </div>
          
      </div>
      <div class="mask">
         <img src="assets/mask.png" alt="" height="130px"  >
      </div>
    </div>
     
</footer>

