<div class="faq">
    <img src="assets/faq.png" alt="" class="f">
    <div class="fa"> 
    <div class="flower">
         <img src="assets/flower.png" alt="">
    </div>
    <div class="question">
       <ul id="accordian">
        <li >
            <label for="first">Are there any hidden fees? <span>   <mat-icon>keyboard_arrow_down</mat-icon> </span></label>
            <input type="radio" name="accordion" id="first" checked >
            <div class="content">
             <p>No, we are transparent about our pricing. The subscription fee and any associated costs are clearly outlined when you sign up. Review our pricing page for detailed information.</p>
            </div>
        </li>
        <li >
            <label for="second">Why wouldn't I just hire a full-time designer? <span> <mat-icon>keyboard_arrow_down</mat-icon> </span></label>
            <input type="radio" name="accordion" id="second" >
            <div class="content">
             <p>Good question! For starters, the annual cost of a full-time senior-level designer now exceeds $100,000, plus benefits (and good luck finding one available). Aside from that, you may not always have enough work to keep them busy at all times, so you're stuck paying for time you aren't able to utilize. </p>
            </div>
        </li>
        <li  >
            <label for="third">Is there a limit to how many requests I can have? <span> <mat-icon>keyboard_arrow_down</mat-icon> </span></label>
            <input type="radio" name="accordion" id="third" >
            <div class="content">
             <p>Once subscribed, you're able to add as many design requests to your queue as you'd like, and they will be delivered one by one.</p>
            </div>
        </li>
        <li  >
            <label for="second">How fast will I receive my designs? <span> <mat-icon>keyboard_arrow_down</mat-icon> </span></label>
            <input type="radio" name="accordion" id="second" >
            <div class="content">
             <p>On average, most requests are completed in just two days or less. However, more complex requests can take longer.</p>
            </div>
        </li>
        <li  >
            <label for="second"> How do I request designs?<span> <mat-icon>keyboard_arrow_down</mat-icon> </span></label>
            <input type="radio" name="accordion" id="second" >
            <div class="content">
             <p>DesignFlex offers a ton of flexibility in how you request designs using Trello. Some common ways clients request designs is directly via Trello, sharing Google docs or wireframes, or even recording a brief Loom video (for those who prefer not to write their briefs out). Basically, if it can be linked to or shared in Trello, it's fair game</p>
            </div>
        </li>
        <li  >
            <label for="second">What if I don't like the design? <span> <mat-icon>keyboard_arrow_down</mat-icon> </span></label>
            <input type="radio" name="accordion" id="second" >
            <div class="content">
             <p>No worries! We'll continue to revise the design until you're 100% satisfied.</p>
            </div>
        </li>
       </ul>
    </div>
    <div class="emoji">
        <img src="assets/emoji-1.png" alt="" class="emo1">
        <img src="assets/emoji-2.png" class="emo2" >
    </div>
     
</div>
<img src="assets/rainbow.png" alt="" class="rain" height="300px">

 </div>
