<div class="popular">
    <div class="yel plan">
       <h2>Starter</h2>
       <p>The perfect starter plan for<br> your basic design needs.</p>
       <h1><span> Rs.0,000 </span>/month</h1>
       <div class="default">
          
       </div>
       <a routerLink="/pay">Get Started <mat-icon style="padding-top: 6px;">arrow_forward</mat-icon></a>
    </div>
    <div class="pin plan">
        <h2 style="padding-left: 120px;">Pro</h2>
        <p>The perfect starter plan for<br> your basic design needs.</p>
        <h1><span> Rs.0,000</span> /month</h1>
        <div class="default" style="background-color: 
        #FFDAEB;">
          
        </div>
        <a routerLink="pay">Get Started  <mat-icon style="padding-top: 6px;">arrow_forward</mat-icon></a>
    </div>
    <div class="purp plan">
        <h2>Premium</h2>
        <p>The perfect starter plan for<br> your basic design needs.</p>
        <h1><span> Rs.0,000 </span>/month</h1>
        <div class="default" style="background-color: #EAD9FD;">
          
        </div>
        <a routerLink="pay">Get Started <mat-icon style="padding-top: 6px;">arrow_forward</mat-icon> </a>
    </div>

</div>
<router-outlet></router-outlet>
