<div class="service">
     
    <div class="ser">
        <img src="assets/3line.png" alt="" height="40px" class="line">
        <h2>"<span>Quality</span> without the Hiring Hassle"</h2>
        <p>Do you have an <span>urgent project</span> that needs immediate
        attention?<br> Are you seeking to <span>enhance </span> your marketing efforts?</p>
        <p class="p1">Whatever your creative needs, <span class="des">Design</span><span>flex</span> got you covered with the<br> perfect design solution customized to evaluate your brand</p>
        <a >Get Started<mat-icon  style="padding-top: 6px;">arrow_forward</mat-icon></a>
    </div>
    <div class="ser2">
       <img src="assets/divisons.png" alt=""></div >
</div>
