<div class="graphic">
   <h2>From <span>Graphic to UI/UX design,</span> we've got you covered on all formats. </h2>
   <div class="grey">
      <h3></h3>
      <div class="pink">
         <h3></h3>
         <div class="grey2">
            <div class="mov1"> 
            <div class="mov mov2"> 
             <ul ><li *ngFor="let movie of movies">
                 {{movie.name}}
             </li></ul>
            </div>
            <div class="mov mov2"> 
               <ul ><li *ngFor="let movie of movies1">
                   {{movie.name}}
               </li></ul>
              </div>
              <div class="mov mov2"> 
               <ul ><li *ngFor="let movie of movies2">
                   {{movie.name}}
               </li></ul>
              </div>
              <div class="mov mov2"> 
               <ul ><li *ngFor="let movie of movies3">
                   {{movie.name}}
               </li></ul>
              </div>
            </div>

         </div>

      </div>
   </div>
</div>
<div class="chart">
   <h1>Comparison chart</h1>
   <p>Why complicate things? At DesignFlex, our all-in-one subscription provides you with everything you need for design.  </p>
   <h4> Choose Designflex and get more, without the hassle.</h4> 
   <img src="assets/chart.png" alt=""  >
</div>
