<div class="des" id="home"> 
<div class="dot">
     <img src="assets/dot-1.png" class="dot-1"><br><br>
     <img src="assets/dot-2.png" class="dot-2"><br><br>
     <img src="assets/dot-3.png" class="dot-3"><br><br> 
     <img src="assets/dot-4.png" class="dot-4"><br><br>
     <img src="assets/dot-5.png" class="dot-5">
     <img src="assets/bright.png" class="bright">
</div>    
<h3>Design<span>Flex</span></h3>
<div class="bulb">
     <img src="assets\bulb.png" alt="No image" class="bulb">
     <img src="assets/wheel.png" class="wheel">
       
</div>
 <img src="assets/star.png" alt="" class="star">
<div class="center"> 
<h4>Unlock<span>  Endless Design </span> <span class="pos"> Possibilities with</span></h4>
<h2> Our Subscription   </h2> 
<p>Unlimited Graphic & Web Design for a monthly fee</p>
<img src="assets/star.png" alt="" class="star1">
<a class="book" (click)="toContac()"  >Book a call </a><br class="a"><br class="a"><a class="pick" (click)="toPla()" >pick your plan<mat-icon style="padding-top: 6px;">arrow_forward</mat-icon> </a>
</div>
 
<div class="nav"> 
<app-navbar></app-navbar>
</div> 
<img src="assets/flow.png" alt="" class="flow">
<div class="com">
     <img src="assets/comp-1.png" alt=""  >
     <img src="assets/comp-2.png" alt="" >
     <img src="assets/comp-3.png" alt="" >
     <img src="assets/comp-4.png" alt="" >
     <img src="assets/comp-5.png" alt=""  style="height: 40px;" class="f">
     <img src="assets/comp-6.png" alt=""  >
      
</div>
</div> 
<div id="ser">
     <app-service></app-service>
</div>
<div id="wor">
     <app-works></app-works>
</div>
<div class="chart" id="char"> 
<app-chart></app-chart>
</div>
<div id="plan"> 
<app-plan></app-plan>
</div>
<div id="faq">
   <app-faq></app-faq>
</div>
<div id="con">
   <app-contact></app-contact>
</div>
<div class="ft" >
   <app-footer></app-footer>
</div>
 