<div class="work">
    <img src="assets/star-sm.png" alt="" class="sm">
     <h2>How does it work?</h2>
     <img src="assets/rocket.png" alt="" class="rock" height="150px">
     <img src="assets/star-sm.png" alt="" class="sm4" height="20px">
     <img src="assets/star-sm.png" alt="" class="sm5" >
     <div class="subs">
        <div class="cont1">
            <div class="pic1">
                <mat-icon class="icon"> 
                    calendar_month
                     </mat-icon>
            </div>
            <h4>Subscribe</h4>
            <pre> Select the monthly plan
that suits your business  
       needs  </pre>
        </div>
        <div class="cont1">
            <div class="pic1">
                <mat-icon class="icon"> 
                    article
                     </mat-icon>
            </div>
            <h4>Subscribe</h4>
            <pre>Describe your creative 
needs upload your brand 
    assests</pre>
        
        </div>
        <div class="cont1">
            <div class="pic1">
                <mat-icon class="icon"> 
                    calendar_month
                     </mat-icon>
            </div>
            <h4>Subscribe</h4>
            <pre>Get your designs in 1-3 
days.Feel free to Collab 
with your pros to revise 
until they're just right.</pre>
        
        </div>
        <img src="assets/star-sm.png" alt="" height="40px" class="sm3">
        <div class="cont1">
            <div class="pic1">
                <mat-icon class="icon"> 
                    calendar_month
                     </mat-icon>
            </div>
            <h4>Subscribe</h4>
            <pre>Once any revisions are 
made and you are 100% 
satisfied with your designs,
download the design and 
mark as complete</pre>
        </div>
         
     </div>
     <img src="assets/star-sm.png" alt="" height="20px" class="sm2">
     <img src="assets/star-sm.png" alt="" class="sm6" height="25px" >
</div>
<div class="work2">
    <img src="assets/half-cir.png" alt="" class="cir2">
    <div class="tree-tab"> 
        <div class="tre"> 
    <img src="assets/tree.png" alt="" class="tree" height="500px"></div>
    <div class="tool">
       <img src="assets/tools.png" alt=""  width="100%">
    </div>
    <div class="tab">
      <img src="assets/table.png" alt="" height="400px">
    </div>
</div>
</div>
<div class="wrapper"> 
<div class="slider">
  <div class="slide-track">
      <div class="slide"> 
        <a> <img src="assets/scroll-1.png" alt=""></a>
       
      </div>
       
      <div class="slide">
        <img src="assets/scroll-2.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/scroll-3.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/scroll-4.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/scroll-5.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/scroll-6.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/scroll-7.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/scroll-8.png" alt="">
      </div>
  </div>
</div>
</div>
<div class="view"> 
<a class="view-but" RouterLink="pho">View More<mat-icon style="padding-top: 6px;">arrow_forward</mat-icon></a>
</div>
<router-outlet></router-outlet>