<div class="contact">
    <div class="con1">
      <img src="assets/contact.gif" alt="" height="600px" width="800px">
    </div>
    <div class="con2">
        <img src="assets/3linesrev.png" alt="">
       <h3>Contact <span>US</span></h3>
       <pre> <p>Have a question or just want to say hi?
    We'd love to hear from you </p></pre>
       <div class="form">
        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="bbd67d95-7b7e-4ac4-984d-01a36cea62fd">
            <label>First Name</label><br>
            <input type="text" name="First name"><br><br>
            <label>Last Name</label><br>
            <input type="text" name="Last name"><br><br>
            <label>Email</label><br>
            <input type="email" name="Email"><br><br>
            <label>Message</label><br>
            <input type="message" name="Message" class="textarea"  ><br>
            <button type="submit">Submit</button>
        </form>
       </div>
    </div>
</div>

